@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --background-secondary: #ffffff;
  --nav-bg: #ebebeb;

  --color-text-secondary: #616161;

  --color-primary: #303030;
  --color-text: #616161;
  --color-text-label: var(--color-primary);
  --color-error-bg: #fee8eb;
  --color-error: #8e0b21;
  --color-error-text: var(--color-primary);
  --color-focus: #005bd3;
  --active-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-focus);

  /* colors */

  --success-hint: #0a9c00;
  --danger-hint: #ff0000;
  --whisper-gray: #ebebeb;
  --royal-blue: #383cef;

  /* Button */

  --button-primary: #303030;
  --button-primary-hover: #1a1a1a;
  --button-primary-active: #1a1a1a;
  --button-primary-disabled: #0000002b;
  --button-primary-selected: #303030;

  --button-secondary: #c70a24;
  --button-secondary-hover: #a30a24;
  --button-secondary-active: #8e0b21;
  --button-secondary-disabled: #0000002b;
  --button-secondary-selected: #8e0b21;

  --button-tertiary: #ffffff;
  --button-tertiary-hover: #fafafa;
  --button-tertiary-active: #f7f7f7;
  --button-tertiary-disabled: #0000000d;
  --button-tertiary-selected: #cccccc;

  /* components variables */

  --color-input-border: #8a8a8a;
  --hover-input-border-color: #616161;
  --active-input-border-color: #1a1a1a;

  /* spading */

  --spacing-primary: 12px;
  --spacing-secondary: 16px;
  --spacing-50: 2px;
  --spacing-75: 3px;
  --spacing-100: 4px;
  --spacing-125: 5px;
  --spacing-150: 6px;
  --spacing-175: 7px;
  --spacing-200: 8px;
  --spacing-225: 9px;
  --spacing-250: 10px;
  --spacing-275: 11px;
  --spacing-300: 12px;
  --spacing-325: 13px;
  --spacing-350: 14px;
  --spacing-375: 15px;
  --spacing-400: 16px;

  /* extra */

  --form-item-spacing: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-primary: var(--color-primary);
  --color-nav-bg: var(--nav-bg);

  --color-text-secondary: var(--color-text-secondary);

  /* Colors */

  --color-success-hint: var(--success-hint);
  --color-danger-hint: var(--danger-hint);
  --color-whisper-gray: var(--whisper-gray);
  --color-royal-blue: var(--royal-blue);

  --shadow-active: var(--active-shadow);

  /* Button */

  --color-button-primary: var(--button-primary);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-primary-active: var(--button-primary-active);
  --color-button-primary-disabled: var(--button-primary-disabled);
  --color-button-primary-selected: var(--button-primary-selected);

  --color-button-secondary: var(--button-secondary);
  --color-button-secondary-hover: var(--button-secondary-hover);
  --color-button-secondary-active: var(--button-secondary-active);
  --color-button-secondary-disabled: var(--button-secondary-disabled);
  --color-button-secondary-selected: var(--button-secondary-selected);

  --color-button-tertiary: var(--button-tertiary);
  --color-button-tertiary-hover: var(--button-tertiary-hover);
  --color-button-tertiary-active: var(--button-tertiary-active);
  --color-button-tertiary-disabled: var(--button-tertiary-disabled);
  --color-button-tertiary-selected: var(--button-tertiary-selected);

  /* extra */

  --spacing-form-item-spacing: var(--form-item-spacing);
  --spacing-primary: var(--spacing-primary);
  --spacing-secondary: var(--spacing-secondary);
  --spacing-50: var(--spacing-50);
  --spacing-75: var(--spacing-75);
  --spacing-100: var(--spacing-100);
  --spacing-125: var(--spacing-125);
  --spacing-150: var(--spacing-150);
  --spacing-175: var(--spacing-175);
  --spacing-200: var(--spacing-200);
  --spacing-225: var(--spacing-225);
  --spacing-250: var(--spacing-250);
  --spacing-275: var(--spacing-275);
  --spacing-300: var(--spacing-300);
  --spacing-325: var(--spacing-325);
  --spacing-350: var(--spacing-350);
  --spacing-375: var(--spacing-375);
  --spacing-400: var(--spacing-400);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: var(--font-w-normal);
  background-color: var(--background);
  color: var(--color-text-secondary);
  font-size: var(--text-size-325);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }

  .p-screen {
    @apply p-2;
  }

  .hide-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .form-container {
    @apply bg-background-secondary rounded-xl pt-form-item-spacing;
  }
}

/* UTILITIES */

@utility shadow-soft-black {
  box-shadow: 0px 4px 4px 0px #00000040;
}
@utility shadow-soft-border {
  box-shadow: 0px 1px 0px 0px #e3e3e3 inset, 1px 0px 0px 0px #e3e3e3 inset, -1px 0px 0px 0px #e3e3e3 inset,
    0px -1px 0px 0px #d4d4d4 inset, 0px 1px 0px 0px #00000012;
}

@utility input-max-w-base {
  max-width: 387px;
}

/* ANTD COMPONENTS */

.ant-checkbox-input:focus + .ant-checkbox-inner {
  box-shadow: var(--active-shadow);
}
.ant-checkbox-input:focus-visible + .ant-checkbox-inner {
  outline: none !important;
}

/* BUTTON */

.ant-btn {
  outline: none !important;
}
.ant-btn span {
  line-height: 1;
}
.ant-btn:focus {
  box-shadow: var(--active-shadow);
}

/* INPUT */

.ant-input-status-error.ant-input.ant-input-outlined,
.ant-input-status-error.ant-input.ant-input-outlined:hover,
.ant-input-affix-wrapper.ant-input-outlined.ant-input-status-error.ant-input-password,
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled),
.ant-select-outlined.ant-select-status-error:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--color-error-bg) !important;
  color: var(--color-primary);
}

/* SELECT */

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  )
  .ant-select-selector {
  box-shadow: var(--active-shadow);
}

/* FORM */

label,
.label-role {
  font-weight: 550;
}

/* Dragger */

.ant-upload-wrapper .ant-upload-drag {
  border: 2px dashed var(--royal-blue);
  background-color: #eae9fe;
  border-radius: 0;
}
.ant-upload-wrapper .ant-upload-drag .dragger-action {
  color: var(--royal-blue);
  font-weight: 550;
}
